In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('c2_tmdb_5000_movies.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
df.isnull().head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [7]:
df2 = df.dropna()

In [9]:
df2.isnull().sum().sum()

0

In [10]:
df.shape

(4803, 20)

In [12]:
df2.shape

(1493, 20)

In [13]:
# use parameter thresh to use min number of NaN

df.dropna(thresh=4000, axis=1, inplace=True)

In [15]:
# has removed the homepage and tagline columns which have large amount of missing values

df.isnull().sum().sum()

6

In [18]:
df.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [20]:
df["overview"].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [23]:
df["release_date"].head(5)

0    2009-12-10
1    2007-05-19
2    2015-10-26
3    2012-07-16
4    2012-03-07
Name: release_date, dtype: object

In [26]:
df["runtime"].head(5)

0    162.0
1    169.0
2    148.0
3    165.0
4    132.0
Name: runtime, dtype: float64

In [27]:
# replace missing values in overview with a string so it matches rest of the data

df["overview"].fillna(value="Overview not available", inplace=True)

In [28]:
df["overview"].isnull().sum()

0

In [29]:
df.loc[df["release_date"].isnull(), "release_date"]

4553    NaN
Name: release_date, dtype: object

In [30]:
# Remember for df.loc[] both start and end are included
df.loc[4552:4554, "release_date"]

4552    2012-03-28
4553           NaN
4554    2015-03-10
Name: release_date, dtype: object

In [32]:
# forward propagation ie replace with previous value (backward next)

df["release_date"].fillna(method="ffill")[4552:4555]

4552    2012-03-28
4553    2012-03-28
4554    2015-03-10
Name: release_date, dtype: object

In [33]:
df["release_date"].fillna(method="bfill")[4552:4555]

4552    2012-03-28
4553    2015-03-10
4554    2015-03-10
Name: release_date, dtype: object

In [34]:
df["release_date"].fillna(method="ffill", inplace=True)

In [35]:
df["runtime"].mean()

106.87585919600083

In [36]:
df["runtime"].fillna(value=df["runtime"].mean(), inplace=True)

In [38]:
df.isnull().sum().sum()

0