In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movies = pd.read_csv("c2_tmdb_5000_movies.csv")

In [3]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [4]:
movies_long = movies[movies["runtime"] > 180]
movies_long["original_title"]

24                                          King Kong
25                                            Titanic
110                                      Pearl Harbor
329     The Lord of the Rings: The Return of the King
676                                        Wyatt Earp
690                                    The Green Mile
855                                 Gods and Generals
880                                        Grindhouse
1091                                            Nixon
1109                                    Heaven's Gate
1125                                        Cleopatra
1181                                              JFK
1333                                         Magnolia
1387                                        Malcolm X
1477                                             Reds
1663                      Once Upon a Time in America
1759                                  The Right Stuff
1818                                 Schindler's List
1922                                       Gettysburg
2024                                           Gandhi
2192                     The Greatest Story Ever Told
2278                               Dances with Wolves
2300                     The Fall of the Roman Empire
2373                                           Hamlet
2384                                           Carlos
2536                                  The Deer Hunter
2550                               Lawrence of Arabia
2631                                      The Company
2731                           The Godfather: Part II
2914                                   Doctor Zhivago
2936                                     Barry Lyndon
2962                               कभी अलविदा ना कहना
3161                              Fiddler on the Roof
3191                                         สุริโยไท
3374                                       Veer-Zaara
3510                                             Emma
3723                             Anne of Green Gables
3813                               Gone with the Wind
3852                                       The Secret
3914                            Judgment at Nuremberg
4389                     Chocolate: Deep Dark Secrets
4497                                        Woodstock
4535                                             七人の侍
4592                                      Intolerance
Name: original_title, dtype: object

In [8]:
d1 = movies[(movies.runtime >= 180) | (movies.vote_average >= 8.0)]
d1.original_title

24                         King Kong
25                           Titanic
65                   The Dark Knight
77                        Inside Out
95                      Interstellar
                    ...
4606             Tupac: Resurrection
4662                  Little Big Top
4678    The Business of Fancydancing
4679                 Call + Response
4755                        Counting
Name: original_title, Length: 125, dtype: object

In [10]:
d2 = movies[(movies.runtime >= 180) & (movies.vote_average >= 8.0)]
d2.original_title

329     The Lord of the Rings: The Return of the King
690                                    The Green Mile
1663                      Once Upon a Time in America
1818                                 Schindler's List
2731                           The Godfather: Part II
3723                             Anne of Green Gables
4535                                             七人の侍
Name: original_title, dtype: object

In [14]:
d3 = d2 = movies[(movies.runtime >= 180) & (movies.vote_average >= 8.0) & (movies.original_language != "en")] 
d3.title

4535    Seven Samurai
Name: title, dtype: object