In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [2]:
poisson1 = stats.poisson.rvs(mu=55, size=200000)
poisson2 = stats.poisson.rvs(mu=10, size=100000)
population = np.concatenate((poisson1, poisson2))

In [31]:
sample = np.random.choice(population, size=1000)
sample.mean()

40.188

In [33]:
data = pd.DataFrame(
    ["red"] * 50000 + ["blue"] * 30000 + ["green"] * 10000 + ["white"] * 10000
)

In [37]:
random_sample = data.sample(n=1000)
random_sample

           0
93622  white
17894    red
95762  white
16553    red
32281    red
...      ...
95677  white
17260    red
66639   blue
63079   blue
81344  green

[1000 rows x 1 columns]

In [41]:
data_count = pd.crosstab(index=data[0], columns="count")
data_count

col_0  count
0
blue   30000
green  10000
red    50000
white  10000

In [42]:
sample_count = pd.crosstab(index=random_sample[0], columns="count")
sample_count

col_0  count
0
blue     298
green     97
red      508
white     97

In [43]:
expected_count = data_count * len(random_sample) / len(data)
expected_count

col_0  count
0
blue   300.0
green  100.0
red    500.0
white  100.0

In [44]:
chi_square = (((sample_count - expected_count) ** 2) / expected_count).sum()
chi_square

col_0
count    0.321333
dtype: float64

In [45]:
stats.chi2.ppf(q=0.95, df=3)

7.814727903251179

In [46]:
p_value = 1 - stats.chi2.cdf(x=chi_square, df=3)
p_value

array([0.95596757])