In [1]:
import pandas as pd

df = pd.read_csv("http://bit.ly/chiporders", sep="\t")

In [3]:
df.shape

(4622, 5)

In [9]:
df.duplicated().sum()

59

In [11]:
dupes = df.loc[df.duplicated(), :]

In [12]:
dupes.shape

(59, 5)

In [19]:
dupes.head()

,order_id,quantity,item_name,choice_description,item_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75
248,108,1,Canned Soda,[Mountain Dew],$1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",$11.75
381,165,1,Canned Soft Drink,[Coke],$1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75

In [36]:
for column in df.columns:
    x=df.duplicated([column]).sum()
    print(x)

2788
4613
4572
3578
4544

In [37]:
df.duplicated(["order_id", "item_name", "item_price"]).sum()

249

In [39]:
df.drop_duplicates(["order_id", "item_name", "item_price"], keep=False)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25