In [2]:
import pandas as pd
import sqlite3

db = sqlite3.connect("my_database.db")

In [3]:
# create own database
# primary key indicates index

query = "CREATE TABLE customer (id INTEGER PRIMARY KEY, first_name TEXT, last_name TEXT, age INTEGER)"

In [4]:
cursor = db.cursor()

In [6]:
cursor.execute(query)

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [8]:
results = cursor.fetchall()
print(results)

[('customer',)]

In [9]:
# add row into database

query = "INSERT INTO customer VALUES (701, 'Mackenzie', 'Fox', 35)"
cursor.execute(query)

In [10]:
db.commit()

In [11]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35)]

In [12]:
# add column

cursor.execute("ALTER TABLE customer ADD COLUMN city TEXT DEFAULT 'Geneva';")
db.commit()

In [13]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35, 'Geneva')]

In [14]:
import pandas as pd

df2 = pd.DataFrame(
    [[702, "Emily", "Joy", 49, "Geneva"]],
    columns=["id", "first_name", "last_name", "age", "city"],
)

In [15]:
# add to existing db

df2.to_sql(name="customer", con=db, if_exists="append", index=False)

In [16]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35, 'Geneva'), (702, 'Emily', 'Joy', 49, 'Geneva')]

In [17]:
# update row

update = """
UPDATE customer
SET city='Zurich'
WHERE id=702;
"""

In [18]:
cursor.execute(update)
db.commit()

In [19]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35, 'Geneva'), (702, 'Emily', 'Joy', 49, 'Zurich')]

In [20]:
# delete row

delete = """
DELETE FROM customer
WHERE id=702;
"""

cursor.execute(delete)
db.commit()

In [21]:
cursor.execute("SELECT * FROM customer;")
results = cursor.fetchall()
print(results)

[(701, 'Mackenzie', 'Fox', 35, 'Geneva')]

In [22]:
db = sqlite3.connect("songs.csv")
cursor = db.cursor()

In [23]:
for chunk in pd.read_csv("c2_songs.csv", chunksize=4):
    chunk.to_sql(name='data', con=db, if_exists="append", index=False)
    print(chunk.iloc[0, 2])

Stairway to Heaven
Black Dog
All My Love
Rebel Rebel
Golden Years

In [25]:
# confirm it is parsing through selecting 0,2 value of every chunk

pd.read_sql_query("SELECT * FROM data;", db)

        Musician       Genre                        Name  Decade Minutes
0   Led Zeppelin   hard rock          Stairway to Heaven      70   08:02
1   Led Zeppelin   hard rock                     Kashmir      70   08:37
2   Led Zeppelin   hard rock              Immigrant Song      70   02:26
3   Led Zeppelin   hard rock            Whole Lotta Love      60   05:33
4   Led Zeppelin   hard rock                   Black Dog      70   04:55
5   Led Zeppelin   hard rock        Good Times Bad Times      60   02:43
6   Led Zeppelin   hard rock                   Moby Dick      60   04:25
7   Led Zeppelin   hard rock                   Ramble On      60   04:35
8   Led Zeppelin   hard rock                 All My Love      70   05:53
9   Led Zeppelin   hard rock  The Song Remains the Same       70   05:24
10  Led Zeppelin   hard rock       I Can't Quit You Baby      60   04:42
11   David Bowie    pop rock                Space Oddity      60   05:15
12   David Bowie    pop rock                 Rebel Rebel      70   04:22
13   David Bowie    pop rock              Under Pressure      80   04:08
14   David Bowie    pop rock                  China Girl      70   05:08
15   David Bowie    pop rock     I'm Afraid of Americans      90   05:00
16   David Bowie    pop rock                Golden Years      70   04:00
17     Bob Dylan  folk rock         Like a Rolling Stone      60   06:13
18     Bob Dylan  folk rock          Blowin' in the Wind      60   02:48
19     Bob Dylan  folk rock           Tangled Up in Blue      70   05:42