In [1]:
import pandas as pd
import numpy as np

s = pd.Series(
    [
        "0",
        "John Wood",
        "Colin Welsh",
        "my list",
        "02456",
        np.nan,
        "HELLO WORLD",
        "water%",
    ]
)

In [2]:
s.str.lower()

0              0
1      john wood
2    colin welsh
3        my list
4          02456
5            NaN
6    hello world
7         water%
dtype: object

In [4]:
s.str.upper()

0              0
1      JOHN WOOD
2    COLIN WELSH
3        MY LIST
4          02456
5            NaN
6    HELLO WORLD
7         WATER%
dtype: object

In [5]:
s.str.len()

0     1.0
1     9.0
2    11.0
3     7.0
4     5.0
5     NaN
6    11.0
7     6.0
dtype: float64

In [7]:
s.str.split(" ")

0               [0]
1      [John, Wood]
2    [Colin, Welsh]
3        [my, list]
4           [02456]
5               NaN
6    [HELLO, WORLD]
7          [water%]
dtype: object

In [9]:
substrings = s.str.split(" ", expand=True)
substrings

        0      1
0       0   None
1    John   Wood
2   Colin  Welsh
3      my   list
4   02456   None
5     NaN    NaN
6   HELLO  WORLD
7  water%   None

In [10]:
substrings[1]

0     None
1     Wood
2    Welsh
3     list
4     None
5      NaN
6    WORLD
7     None
Name: 1, dtype: object

In [11]:
s.str.replace("%", " percent")

0                0
1        John Wood
2      Colin Welsh
3          my list
4            02456
5              NaN
6      HELLO WORLD
7    water percent
dtype: object

In [12]:
s.str.replace("%", "")

0              0
1      John Wood
2    Colin Welsh
3        my list
4          02456
5            NaN
6    HELLO WORLD
7          water
dtype: object

In [14]:
# select first two characters

s.str[0:2]

0      0
1     Jo
2     Co
3     my
4     02
5    NaN
6     HE
7     wa
dtype: object

In [15]:
s.str.slice(0, 2)

0      0
1     Jo
2     Co
3     my
4     02
5    NaN
6     HE
7     wa
dtype: object

In [16]:
s.str.slice_replace(0, 2, "__")

0             __
1      __hn Wood
2    __lin Welsh
3        __ list
4          __456
5            NaN
6    __LLO WORLD
7         __ter%
dtype: object

In [17]:
flag = s.str.contains("0")
flag

0     True
1    False
2    False
3    False
4     True
5      NaN
6    False
7    False
dtype: object

In [18]:
flag = s.str.contains("0", na=False)
flag

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [19]:
s[flag]

0        0
4    02456
dtype: object

In [22]:
import numpy as np

movies = pd.read_csv("c2_tmdb_5000_movies.csv")

In [24]:
# show top entris of first 3 text based columns

movies.select_dtypes("object").iloc[:5,:3]

,genres,homepage,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [25]:
genres = movies["genres"]

In [26]:
genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [27]:
import json

json_obj = json.loads(genres[0])
names = [
    x["name"] for x in json_obj
]
names

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [28]:
", ".join(names)

'Action, Adventure, Fantasy, Science Fiction'

In [29]:
genres.map(lambda s: ', '.join(x['name'] for x in json.loads(s)))

0       Action, Adventure, Fantasy, Science Fiction
1                        Adventure, Fantasy, Action
2                          Action, Adventure, Crime
3                    Action, Crime, Drama, Thriller
4                Action, Adventure, Science Fiction
                           ...
4798                        Action, Crime, Thriller
4799                                Comedy, Romance
4800               Comedy, Drama, Romance, TV Movie
4801
4802                                    Documentary
Name: genres, Length: 4803, dtype: object

In [30]:
# how to strip manually

def transform(s):
    s = s.str.strip("[]")
    return s

In [32]:
genres = transform(genres)
genres[0]

'{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}'

In [33]:
def transform(s):
    s = s.str.strip("[]")
    s = s.str.replace("{", "", regex=True)
    s = s.str.replace("}", "", regex=True)
    s = s.str.replace(",", "", regex=True)
    s = s.str.replace('"id":', "", regex=True)
    s = s.str.replace('"name":', "", regex=True)
    s = s.str.replace('"', "", regex=True)
    return s

In [34]:
genres = transform(genres)
genres[0]

' 28  Action  12  Adventure  14  Fantasy  878  Science Fiction'

In [35]:
def transform(s):
    s = s.str.strip("[]")
    s = s.str.replace("{", "", regex=True)
    s = s.str.replace("}", "", regex=True)
    s = s.str.replace(",", "", regex=True)
    s = s.str.replace('"id":', "", regex=True)
    s = s.str.replace('"name":', "", regex=True)
    s = s.str.replace('"', "", regex=True)
    s = s.str.replace("0", "", regex=True)
    s = s.str.replace("1", "", regex=True)
    s = s.str.replace("2", "", regex=True)
    s = s.str.replace("3", "", regex=True)
    s = s.str.replace("4", "", regex=True)
    s = s.str.replace("5", "", regex=True)
    s = s.str.replace("6", "", regex=True)
    s = s.str.replace("7", "", regex=True)
    s = s.str.replace("8", "", regex=True)
    s = s.str.replace("9", "", regex=True)
    return s

In [36]:
genres = transform(genres)
genres[0]

'   Action    Adventure    Fantasy    Science Fiction'

In [37]:
def transform(s):
    s = s.str.strip("[]")
    s = s.str.replace("{", "", regex=True)
    s = s.str.replace("}", "", regex=True)
    s = s.str.replace(",", "", regex=True)
    s = s.str.replace('"id":', "", regex=True)
    s = s.str.replace('"name":', "", regex=True)
    s = s.str.replace('"', "", regex=True)
    s = s.str.replace("0", "", regex=True)
    s = s.str.replace("1", "", regex=True)
    s = s.str.replace("2", "", regex=True)
    s = s.str.replace("3", "", regex=True)
    s = s.str.replace("4", "", regex=True)
    s = s.str.replace("5", "", regex=True)
    s = s.str.replace("6", "", regex=True)
    s = s.str.replace("7", "", regex=True)
    s = s.str.replace("8", "", regex=True)
    s = s.str.replace("9", "", regex=True)
    s = s.str.replace("    ", ", ")
    s = s.str.replace("   ", "")
    return s

In [38]:
genres = transform(genres)
genres[0]

'Action, Adventure, Fantasy, Science Fiction'

In [39]:
movies["genres"] = genres

In [41]:
movies.loc[:, ["title", "genres"]].head(10)

,title,genres
0,Avatar,"Action, Adventure, Fantasy, Science Fiction"
1,Pirates of the Caribbean: At World's End,"Adventure, Fantasy, Action"
2,Spectre,"Action, Adventure, Crime"
3,The Dark Knight Rises,"Action, Crime, Drama, Thriller"
4,John Carter,"Action, Adventure, Science Fiction"
5,Spider-Man 3,"Fantasy, Action, Adventure"
6,Tangled,"Animation, Family"
7,Avengers: Age of Ultron,"Action, Adventure, Science Fiction"
8,Harry Potter and the Half-Blood Prince,"Adventure, Fantasy, Family"
9,Batman v Superman: Dawn of Justice,"Action, Adventure, Fantasy"

In [95]:
keywords = movies["keywords"]
keywords[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [98]:
def transform(s):
    s = s.str.strip("[]")
    s = s.str.replace("{","", regex=True)
    s = s.str.replace("}","", regex=True)
    s = s.str.replace('"id"',"", regex=True)
    s = s.str.replace(":","", regex=True)
    s = s.str.replace('"name"',"", regex=True)
    s = s.str.replace('[0-9]+',"", regex=True)
    s = s.str.replace(" , ","", regex=True)
    s = s.str.replace('"',"", regex=True)
    s = s.str.replace("  "," ", regex=True)
    return s

In [99]:
keywords = transform(keywords)
keywords[0]

' culture clash, future, space war, space colony, society, space travel, futuristic, romance, space, alien, tribe, alien planet, cgi, marine, soldier, battle, love affair, anti war, power relations, mind and soul, d'

In [102]:
keywords_df=keywords.str.split(',', expand=True)
keywords_df.head()

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,culture clash,future,space war,space colony,society,space travel,futuristic,romance,space,alien,...,None,None,None,None,None,None,None,None,None,None
1,ocean,drug abuse,exotic island,east india trading company,love of one's life,traitor,shipwreck,strong woman,ship,alliance,...,None,None,None,None,None,None,None,None,None,None
2,spy,based on novel,secret agent,sequel,mi,british secret service,united kingdom,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,dc comics,crime fighter,terrorist,secret identity,burglar,hostage drama,time bomb,gotham city,vigilante,cover-up,...,None,None,None,None,None,None,None,None,None,None
4,based on novel,mars,medallion,space travel,princess,alien,steampunk,martian,escape,edgar rice burroughs,...,None,None,None,None,None,None,None,None,None,None

In [103]:
keywords_df[0]+', '+keywords_df[1]+', '+keywords_df[2]

0                 culture clash,  future,  space war
1                 ocean,  drug abuse,  exotic island
2                spy,  based on novel,  secret agent
3              dc comics,  crime fighter,  terrorist
4                  based on novel,  mars,  medallion
                            ...
4798     united states\umexico barrier,  legs,  arms
4799                                             NaN
4800          date,  love at first sight,  narration
4801                                             NaN
4802                   obsession,  camcorder,  crush
Length: 4803, dtype: object