In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("c2_cereal.csv")

print('Data shape: ',df.shape)

Data shape:  (77, 16)

In [6]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [11]:
df["manufacturer"] = df.mfr.map({"A": "American Home Food Products", "G": "General Mills", "K": "Kellogs", "N": "Nabisco", "P": "Post", "Q": "Quaker Oats", "R": "Ralston Purina"})
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,manufacturer
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,Nabisco
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,Quaker Oats
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kellogs
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kellogs
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,Ralston Purina

In [20]:
def conversion(x): 
    y = x * 4.184
    return y

df["kilojoules"] = df.calories.apply(conversion)
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,manufacturer,kilojoules
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,Nabisco,292.88
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,Quaker Oats,502.08
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kellogs,292.88
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kellogs,209.20
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,Ralston Purina,460.24

In [24]:
df_num = df.loc[:, ["calories", "protein", "fat", "sodium", "fiber", "carbo", "sugars", "potass", "vitamins", "shelf", "weight", "cups", "rating", "kilojoules"]]
df_num.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,kilojoules
0,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,292.88
1,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,502.08
2,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,292.88
3,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,209.20
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,460.24

In [25]:
df_num.apply(max, axis=0)

calories      160.000000
protein         6.000000
fat             5.000000
sodium        320.000000
fiber          14.000000
carbo          23.000000
sugars         15.000000
potass        330.000000
vitamins      100.000000
shelf           3.000000
weight          1.500000
cups            1.500000
rating         93.704912
kilojoules    669.440000
dtype: float64