In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": ["dog", "cat", "dog", "cat", "dog", "cat", "dog", "dog"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randint(10, size=8),
    }
)

In [4]:
df.head()

     A      B  C
0  dog    one  5
1  cat    one  4
2  dog    two  8
3  cat  three  1
4  dog    two  6

In [5]:
df["C"].mean()

4.75

In [6]:
df.groupby("A")["C"].mean()

A
cat    1.666667
dog    6.600000
Name: C, dtype: float64

In [7]:
#alternative way.. mean for dogs
df.loc[df["A"] == "dog", "C"].mean()

6.6