In [ ]:
import pandas as pd

In [ ]:
#append adds to the newlist as currently no values

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
           if "a" in x:
               newlist.append(x)

print(newlist)

In [ ]:
#with list comprehension can do all in one line

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
newlist = [expression for item in iterable if condition == True]

In [ ]:
#all values except those with apple in
newlist = [x for x in fruits if x != "apple"]

In [ ]:
print(newlist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]

In [ ]:
print(newlist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in range(2)]

In [ ]:
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]

In [ ]:
print(newlist)

In [ ]:
#manipulate expression at beginning.. eg set all values to upper case
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]

In [ ]:
print(newlist)

In [ ]:
#set all values to hello
newlist = ['hello' for x in fruits]

print(newlist)

In [ ]:
#return orange instead of banana
newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

In [ ]:
a = "Hello, World!"
print(a[1])

In [ ]:
for x in "banana":
    print(x)

In [ ]:
txt = "the best things in life are free!"
if "free" in txt:
    print("yes, 'free' is present")

In [ ]:
#strip removes any whitespace at beginning or end
a = " Hello, World! "
print(a.strip())

In [ ]:
#replace method
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
#format functions allows numbers added to strings in placeholder {}
age = 36
txt = "my name is john, and i am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars"
print(myorder.format(quantity, itemno, price))

In [ ]:
#boolean function is true or false
print(10>9)

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else: 
    print("a is greater than b")

In [ ]:
#change elements in a list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrent", "watermelon"]
print(thislist)

In [ ]:
#insert function adds without removing current
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
#pop removes specified index
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

In [2]:
#customise sort function
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [1]:
#if elif & else
a = 200
b = 33
if b > a:
    print("b > a")
elif a == b:
    print("a = b")
else:
    print("a > b")

a > b

In [6]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [7]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [8]:
#continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [9]:
#third coordinate for sequence number
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [10]:
#functions
def my_function(fname):
    print(fname + " Refsnes")
    
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [14]:
def my_function(fname, lname):
    print(fname + " " + lname)
    
my_function("Rob", "Whelan")

Rob Whelan

In [16]:
#functions with arbitrary args add *.. if uknown use kwargs **
def my_function(*kids):
    print("the youngest child is " + kids[2])
    
my_function("emil", "tobias", "linus")

the youngest child is linus

In [17]:
#return values
def my_function(x):
    return 5 * x

print(my_function(5))

25